.side-nav {
    font-size: 1.4rem;
    margin-top: 3.5rem;
    
        &__sort {
            position: relative;
  
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        };
  
        &__sort::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: .3rem;
            background-color: var(--color-main-primary);
            transform: scaleY(0);
            transition: transform .2s,
                        width .4s cubic-bezier(1, 0, 0, 1) .2s;
        }
        
        &__sort:hover::before,
        &__sort--active::before {
            transform: scaleY(1);
            width: 100%;
        }
  
        &__link:link,
        &__link:visited {
            color: var(---color-grey-light-1);
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            padding: 1.5rem 2rem;
            position:relative;
            z-index: 100;
        }
  
        &__filter {
            background-color: var(--color-main-primary);
            margin-top: 5rem;
            
            &--item{
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
                padding: 1.5rem 2rem;
                transition: all .4s ease;
            }
            
            &--item:hover {
                background-color: var(--color-grey-dark-2);
            }
        }
  };
  