.reminder-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: .8rem;
    background-color: #ffff;
    box-shadow: 0 1rem 2rem rgba(#000, 0.25);
    transition: all 0.4s ease;
    cursor: pointer;

    &:hover {
        background-color: var(--color-main-primary);
      }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 1.3rem;
        text-decoration: none;
        color: inherit;
        padding: 15px;
    }

    &__info__title {
        display: flex;
        align-items: center;

        .fav-icon {
            margin-left: auto;

            &:hover {
                fill: white;
            }
            
            &.fav-selected {
                fill: var(--color-main-primary);

                &:hover {
                    fill: var(--color-main-dark);
                }
            }
        }
    }

    &__action {
        display: flex;
        padding: 15px;

        &--icon:not(:first-child) {
            margin-left: 10px; 
        }
    }
};